button{
    margin: 10px;
    border-color:#05804c;
    background-color:white;
    color: #05804c;
    border-radius: 10px;
    width: 80px;
    height: 25px;
}

td > a {
    color :black;
}
.boardTop{
    display: flex;
    justify-content: space-between;
}
.categoryActive{
    background-color:#05804c;
    color: white;
}
input{
    border: 1.5px solid #16a267;
    border-radius: 10px;
}
select{
    border: 1.5px solid #16a267;
    border-radius: 10px;
    width:70px;
    height:25px;
}
.next{
    color:#05804c;
}
/*view page css*/
.boardViewBox{
    margin-top :20px;
    padding:50px
}
.boardViewBox .viewTitle{
    margin-right: 10px;
    font-wegiht:
}
.boardViewBox > div {
    padding :20px 0px;
    border-bottom : 1px solid #e8e8e8;

}
.boardViewBox >div:nth-child(1) >span{font-size :25px;}
.boardViewBox >div:nth-child(2) {
    display:flex;
    justify-content :space-between;
}
.boardViewBox >div:nth-child(3){
    min-height :500px;
}
.boardViewBox >div:nth-child(4){

}
.boardViewBox >div:nth-child(5){

}