{{>ezenweb/header}}
<div class="container">
    <div class="signUpForm">

        <h3>로그인</h3>

        <div class="label"> 아이디 </div> <input type="text" id="id"><br/>
        <div class="label"> 비밀번호</div> <input type="text" id="pw"><br/>
        <a href="/member/signup">회원가입</a>
        <button class="signupbtn" type="button" onclick="login()">로그인</button>
    </div>

</div>
    <script src="/js/member.js"></script>
{{>ezenweb/footer}}